@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* 1px = 0.063rem*/
/* 16px = 1em*/
body{
    /*position: relative;*/
    font-family: 'Raleway', sans-serif;
    font-size: 16px; 
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    background-color: #f3f3f3;
}
*{
    box-sizing: border-box;
}
nav{
    display: block;
}
div{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
.has-arrow::after{
    content: "\00a0›";
}


.main{
    display: grid;
    grid-template-columns: auto 100rem auto; /*1600px*/
    grid-template-areas: 
    ". main-nav ."
    ". main-page .";
    margin: 0;
}

.main-nav{
    position: relative;
    /*justify-content: center;*/
    grid-area: main-nav;
    padding-top: 1rem;
    padding-bottom: 0;
    background-color: #ffff;
    /*z-index: 35;*/
    overflow: visible;
}


.page{
    /*justify-content: center;*/
    grid-area: main-page;
    background-color: #ffff;
}


.page-about_header{
    height: 45.625rem; /*730px*/
    background: url("https://ableton-production.imgix.net/about/header.jpg?fit=crop&amp;auto=format&amp;fm=jpg");
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    min-height: calc(100vh - 120px); 
    /*margin-left: auto;
    margin-right: auto;*/
    margin-left: 8.333vw;
    margin-right: 8.333vw;
    margin-bottom: 8.333vw;
}
.page-about_header-text{
    position: absolute;
    font-weight: bold;
    font-size: 6.5rem; /*104px*/
    top: 50%;
    left: 50%;
    margin-top: -5rem; /*-80px*/
    margin-left: -10rem; /*-160px*/
    /*width: 430px;
    height: 104px;*/
    cursor:context-menu;
    color: #FD5948;
}


.page-about_text{
    width: 50rem; /*800px*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.333rem; /*133.333px*/
}
.body-text h1{
    font-size: 1.875rem;
    line-height: 1.4;

}
.body-text a{
    color: #0000ff;
}


.page-about_collage{
    position: relative;
    width: 100rem; /*1600px*/
    height: 58.332rem; /*933.31px*/
    margin-bottom: 8.333rem; /*133.333px*/
    /*margin-top: 133.333px;*/
}
.background-lemonade{
    background-color: #fbffa7;
}
.page-about_collage_background-products{
    position: absolute;
    width: 58.332rem; /*933.31px*/
    height: 58.332rem; /*933.31px*/
    right: 0;
    top: 0;
    z-index: 0;
}

.page-about_collage_products1{
    position: absolute;
    width: 41.667rem; /*666.666px*/
    height: 41.667rem; /*666.666px*/
    background: url("https://ableton-production.imgix.net/about/photo-1.jpg?dpr=2&fit=crop&h=667&ixjsv=1.1.3&q=50&w=667");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    display: inline-block;
    vertical-align: middle;
    left: 6.25rem; /*100px*/
    top: 9.375rem; /*150px*/
    z-index: 1;
}
.page-about_collage_products2{
    position: absolute;
    width: 33.333rem; /*533.33px*/
    height: 25rem; /*400px*/
    background-image: url("https://ableton-production.imgix.net/about/photo-2.jpg?dpr=2&fit=crop&h=400&ixjsv=1.1.3&q=50&w=533");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    display: inline-block;
    vertical-align: middle;
    top: 18.75rem; /* 300px*/
    right: 9.375rem; /*150px*/
    z-index: 1;
}

.page-about_media{
    margin-bottom: 8.333rem; /*133.333px*/
}
.youtube-video{
    position: relative;
    width: 41.625rem; /*666px*/
    height: 23.438rem; /*375px*/
    left: 28.125rem; /*450px*/
}
.page-about_media_caption{
    position: absolute;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5;
    width: 100%;
    margin-top: 0.5em;
    margin-left: 28.125rem; /*450px*/
}


.background-spearmint{
    background-color: #b6ffc0;
}
.page-about_collage_background-people{
    position: absolute;
    width: 58.333rem; /*933.333px*/
    height: 58.333rem; /*933.333px*/
    left: 0;
    top: 0;
    z-index: 0;
}

.page-about_collage_cntainer_media-people{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 12.5rem; /*200px*/
    z-index: 1;
}
.page-about_collage_cntainer_media-people1{
    position: absolute;
    width: 33.333rem; /*533.333px*/
    height: 25rem; /*400px*/
    background: url("https://ableton-production.imgix.net/about/photo-3.jpg?dpr=2&fit=crop&h=400&ixjsv=1.1.3&q=50&w=533");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    top: 1.875rem; /*30px*/
}
.page-about_collage_cntainer_media-people2{
    position: absolute;
    width: 33.333rem; /*533.333px*/
    height: 25rem; /*400px*/
    background: url("https://ableton-production.imgix.net/about/photo-4.jpg?dpr=2&fit=crop&h=400&ixjsv=1.1.3&q=50&w=533");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    top: 29.375rem; /*470px*/
}
.page-about_collage_cntainer_media-people3{
    position: absolute;
    width: 41.667rem; /*666.666px*/
    height: 41.667rem; /*666.666px*/
    background-image: url("https://ableton-production.imgix.net/about/photo-5.jpg?dpr=2&fit=crop&h=667&ixjsv=1.1.3&q=50&w=667");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    display: inline-block;
    vertical-align: middle;
    top: 7.5rem; /*120px*/
    right: 6.25rem; /*100px*/
    z-index: 1;
}


.page-about_media_image-large{
    position: relative;
    height: 46.875rem; /*750px*/
    background: url("https://ableton-production.imgix.net/about/poster-meet-the-makers.jpg?auto=format&dpr=2&fit=crop&fm=jpg&ixjsv=1.1.3&q=50&w=1333");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    margin-left: 8.333vw;
    margin-right: 8.333vw;
    margin-bottom: 8.333vw;
}


.background-lavender{
    background-color:#d5b3ff;
}
.page-about_collage_background-improving{    
    position: absolute;
    width: 58.333rem; /*933.333px*/
    height: 58.333rem; /*933.333px*/
    left: 21.875rem; /*350px*/
    z-index: 0;
}

.page-about_collage_media-improving1{
    position: relative;
    width: 33.333rem; /*533.333px*/
    height: 25rem; /*400px*/
    background: url("https://ableton-production.imgix.net/about/photo-6-a.jpg?dpr=2&fit=crop&h=400&ixjsv=1.1.3&q=50&w=533");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    display: inline-block;
    vertical-align: middle;
    top: 9.375rem; /*150px*/
    left: 9.375rem; /*150px*/
    z-index: 1;
}
.page-about_collage_media-improving2{
    position: relative;
    width: 41.667rem; /*666.666px*/
    height: 41.667rem; /*666.666px*/
    background: url("https://ableton-production.imgix.net/about/photo-7.jpg?dpr=2&fit=crop&h=667&ixjsv=1.1.3&q=50&w=667");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    display: inline-block;
    vertical-align: middle;
    top: 9.375rem; /*150px*/
    right: -24.688rem; /*-395px*/
    z-index: 1;
}


.page-about_jobs-teaser_media{
    position: relative;
    width: 41.667rem; /*666.666px*/
    height: 41.667rem; /*666.666px*/
    background: url("https://ableton-production.imgix.net/about/photo-8.jpg?crop=right&dpr=2&fit=crop&h=667&ixjsv=1.1.3&q=50&w=667");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    display: inline-block;
    vertical-align: middle;
    left: 8.75rem; /*140px*/
    z-index: 1;
}

.background-periwinkle{
    background-color: #b1c5ff;
}
.page-about_jobs-teaser_text{
    position: relative;
    width: 41.667rem; /*666.666px*/
    height: 41.667rem; /*666.666px*/
    display: inline-block;
    vertical-align: middle;
    padding-left: 3.125rem ; /*50px*/
    right: -8.125rem; /*-130px*/
    z-index: 1;
}

.page-about_jobs-teaser_text-wrapper{
    display: table;
    width: 80%;
    height: 80%;
}
.page-about_jobs-teaser_text-wrapper .body-text{
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.page-about_jobs-teaser_text-wrapper a{
    display: block;
    margin-top: 1em;
}


